.MainResturantMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin-top: 4rem;
  /* max-width: 1440px; */
}

.MainResturantMenu h2 {
  margin-bottom: 4rem;
}
.MainResturantMenu-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10rem;
  margin-bottom: 4.8rem;
}
.MainResturantMenu-menu-item {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 8px;
  margin-bottom: 3rem;
}
.MainResturantMenu-img {
  width: 200px;
  height: 200px;
  position: relative;
  translate: 0 -50%;
}
.MainResturantMenu-menu a:hover .MainResturantMenu-btn,
.MainResturantMenu-menu a:hover .MainResturantMenu-menu2 {
  box-shadow: 0px 16px 6px rgba(0, 0, 0, 0.01), 0px 9px 5px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.09),
    0px 1px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in;
}
.MainResturantMenu-btn {
  padding: 1rem 2rem;
  position: relative;
  background-color: var(--primery);
  border: none;
  border-radius: 8px;
  font-family: "Estedad-VF";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 180%;
  color: var(--white);
  translate: 0 -170%;
  cursor: pointer;
}

.MainResturantMenu-menu2 {
  position: absolute;
  border: 1px solid var(--primery);
  border-radius: 8px;
  width: 300px;
  height: 120px;
  padding: 8px;
  z-index: -100;
  background: transparent;
}
@media screen and (max-width: 1024px) {
  .MainResturantMenu-menu {
    flex-wrap: wrap;
    gap: 24px;
  }
  .MainResturantMenu-menu-item {
    flex: 100%;
  }
  .MainResturantMenu-menu2 {
    /* width: 30%; */
  }
}

@media screen and (max-width: 480px) {
  .MainResturantMenu h2 {
    margin-bottom: 2rem;
  }
  .MainResturantMenu-menu,
  .MainResturantMenu {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  .MainResturantMenu-menu {
    flex-wrap: wrap;
    gap: 24px;
  }
  .MainResturantMenu-menu-item {
    flex: 40%;
  }
  .MainResturantMenu-img {
    width: 100px;
    height: 100px;
  }
  .MainResturantMenu-menu2 {
    width: 40%;
    height: 80px;
  }
  .MainResturantMenu-btn {
    font-size: 14px;
    padding: 0.5rem 2rem;
    translate: 0 -60%;
  }
}
