.mobile-navber {
  position: absolute;
  right: 0;
  top: 0;
  width: 256px;
  height: 500px;
  background-color: var(--white);
  z-index: 9999999;
}
.mobile-navbar-top {
  height: 94px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/public/images/mobile-menu.jpg);
  background-size: cover;
  background-position: center;
}
.mobile-navbar-logo {
  position: relative;
  width: 63px;
  height: 30px;
  color: var(--white);
  margin-right: 16px;
  margin-top: 32px;
}
.mobile-navbar-close {
  position: absolute;
  top: 16px;
  left: 16px;
  color: var(--white);
  cursor: pointer;
}

.mobile-navbar-link {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 0;
  margin: 8px 16px;
  border-bottom: 1px solid #cbcbcb;
  color: var(--gray-8);
}
.mobile-navbar-link.active {
  font-weight: 700;
  color: var(--primery);
}
.dropDown {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropDown div {
  display: flex;
  display: flex;
  align-items: center;
  gap: 8px;
}
.mobile-navbar-icon {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 4px;
  cursor: pointer;
  padding: 1px;
  color: var(--primery);
}
